/* 공통 스타일 */
main {
	/* display: flex; */
	/* justify-content: center; */
	align-items: center;
	/* margin: 55px; */
	margin: 8% ;
	padding: 0;
}

.container  {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.sidebar {
	padding: 10px;
}

.product-details {
	padding: 10px;
	display: flex ;
}