body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

/* 중앙에 정렬된 내용 */
.content {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

/* 제목 스타일 */
h3 {
	margin-right: 552px;
	text-align: center;
	font-weight: bolder;
	margin-bottom: 21px;
	font-size: 21px;
}

/* 바스 옵션을 가로로 정렬 */
#bath-options {
	display: flex;
	justify-content: center; /* 중앙 정렬 */
	gap: 30px;
	margin-bottom: 8px;
}

/* 개별 옵션 스타일 */
.option {
	text-align: center;
	padding: 14px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	width: 194px;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	position: relative;
}

/* 옵션 링크 스타일 */
.option a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

/* 옵션 이미지 스타일 */
.option img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
	margin-top: 37px;
}

/* 옵션 hover 시 배경색 변화 */
.option:hover {
	background-color: #ddd;
}

/* 바스 옵션 위의 큰 이미지를 감싸는 div */
#top-image-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 100px
}

/* 바스 옵션 위의 사진을 가로로 길게 설정 */
#top-image {
	width: 100%; /* 화면 너비에 맞게 설정 */
	max-width: 645px; /* 최대 너비 제한 */
	height: 215px; /* 비율 유지하면서 높이 자동 조절 */
	object-fit: cover;
}

/* 설명 텍스트를 감싸는 div */
#description-wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto; /* 중앙 정렬 */
	text-align: center;
	margin-bottom: 20px;
}

/* 설명 텍스트 스타일 */
p {
	font-size: 15px;
	margin-left: 79px;
}
