<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link href="@{/css/productstyle.css}" rel="stylesheet">
<style>
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

#film-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.option {
    flex: 1 1 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
}

.option a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.option:hover {
    background-color: #ddd;
}
</style>
</head>
<body>
<div layout:fragment="content">
	<header>필름 옵션</header>
	<div class="content">
        <div id="film-options">
				<div class="option">
					<a href="/product/film/solid">솔리드</a>
				</div>
				<div class="option">
                    <a href="/product/film/metal">메탈</a>
                </div>
                <div class="option">
                    <a href="/product/film/wood">우드</a>
                </div>
                <div class="option">
                    <a href="/product/film/stone">스톤</a>
                </div>
                <div class="option">
                    <a href="/product/film/textile">텍스타일</a>
                </div>
                <div class="option">
                    <a href="/product/film/leather">레더</a>
                </div>
                <div class="option">
                    <a href="/product/film/interior-board">인테리어 보드</a>
                </div>
            </div>
    </div>
</div>  
</body>
</html>