<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link href="@{/css/productstyle.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<header>텍스타일</header>
		<div class="content">
			<p>포근하고 부드러운 느낌과 트렌디한 컬러를 더하면 공간이 아름다워집니다.</p>
			<div class="filter">
				<div class="category">
					<span>카테고리</span> 
					<span>텍스타일</span>
				</div>
				<div class="color-selection">
					<span>색상</span>
					<div class="color-options">
                        <span class="color-option" style="background-color: #e91e63;"></span>
                        <span class="color-option" style="background-color: #f5e6cc;"></span>
                        <span class="color-option" style="background-color: #d3d3d3;"></span>
                        <span class="color-option" style="background-color: #8b6f52;"></span>
                    </div>
				</div>
				<div class="features">
                    <span>기능</span>
                    <input type="checkbox" id="feature1" name="feature1" value="방염">
                    <label for="feature1">방염</label>
                </div>
			</div>
			<div class="product-list">
			    <div class="product-item">
					<a href="/product/film/textile/1"> 
					    <img src="/images/textile_product1.jpg" alt="텍스타일 제품1">
					</a>
					<p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
                    <a href="/product/film/textile/2"> 
					    <img src="/images/textile_product2.jpg" alt="텍스타일 제품2">
					</a>
                    <p>텍스타일 방염 FILM-05</p>
                </div>
			    <div class="product-item">
					<a href="/product/film/textile/3"> 
					    <img src="/images/textile_product3.jpg" alt="텍스타일 제품3">
					</a>
					<p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
                    <a href="/product/film/textile/4"> 
					    <img src="/images/textile_product4.jpg" alt="텍스타일 제품4">
					</a>
                    <p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
					<a href="/product/film/textile/5"> 
					    <img src="/images/textile_product5.jpg" alt="텍스타일 제품5">
					</a>
					<p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
                    <a href="/product/film/textile/6"> 
					    <img src="/images/textile_product6.jpg" alt="텍스타일 제품6">
					</a>
                    <p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
					<a href="/product/film/textile/7"> 
					    <img src="/images/textile_product7.jpg" alt="텍스타일 제품7">
					</a>
					<p>텍스타일 방염 FILM-05</p>
                </div>
                <div class="product-item">
                    <a href="/product/film/textile/8"> 
					    <img src="/images/textile_product8.jpg" alt="텍스타일 제품8">
					</a>
                    <p>텍스타일 방염 FILM-05</p>
                </div>
			</div>
		</div>
	</div>
</body>
</html>