<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link href="@{/css/productstyle.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<header>우드</header>
		<div class="content">
			<p>자연스럽고 편안한 원목의 텍스처와 다양한 우드 컬러로 내추럴하고 깔끔한 공간을 제안합니다.</p>
			<div class="filter">
				<div class="category">
					<span>카테고리</span> 
					<span>우드</span>
				</div>
				<div class="color-selection">
					<span>색상</span>
					<div class="color-options">
                        <span class="color-option" style="background-color: #2b2b2b;"></span>
                        <span class="color-option" style="background-color: #4a2f1b;"></span>
                        <span class="color-option" style="background-color: #8b6f52;"></span>
                        <span class="color-option" style="background-color: #e1d7bc;"></span>
                    </div>
				</div>
				<div class="features">
                    <span>기능</span>
                    <input type="checkbox" id="feature1" name="feature1" value="방염">
                    <label for="feature1">방염</label>
                    <input type="checkbox" id="feature2" name="feature2" value="비방염">
                    <label for="feature2">비방염</label>
                </div>
			</div>
			<div class="product-list">
			    <div class="product-item">
					<a href="/product/film/wood/1"> 
					    <img src="/images/wood_product1.jpg" alt="우드 제품1">
					</a>
					<p>우드 방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/2"> 
					    <img src="/images/wood_product2.jpg" alt="우드 제품1">
					</a>
					<p>우드 비방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/3"> 
					    <img src="/images/wood_product3.jpg" alt="우드 제품3">
					</a>
					<p>우드 방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/4"> 
					    <img src="/images/wood_product4.jpg" alt="우드 제품4">
					</a>
					<p>우드 비방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/5"> 
					    <img src="/images/wood_product5.jpg" alt="우드 제품5">
					</a>
					<p>우드 방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/6"> 
					    <img src="/images/wood_product6.jpg" alt="우드 제품6">
					</a>
					<p>우드 비방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/7"> 
					    <img src="/images/wood_product7.jpg" alt="우드 제품7">
					</a>
					<p>우드 방염 FILM-03</p>
                </div>
                <div class="product-item">
					<a href="/product/film/wood/8"> 
					    <img src="/images/wood_product8.jpg" alt="우드 제품8">
					</a>
					<p>우드 비방염 FILM-03</p>
                </div>
			</div>
		</div>
	</div>
</body>
</html>