<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${builtInM.b_name}">제품명</title>
<!-- CSS 파일 경로를 Thymeleaf에서 동적으로 처리 -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

	<div class="container">
		<!-- <aside class="sidebar">
			<h2>부엌</h2>
			<span class="custom-line"></span>
			<ul>
				<li><a href="/product/kitchen/echo">인조대리석</a></li>
				<li><a href="/product/kitchen/vista">이스톤</a></li>
				<li><a href="/product/kitchen/signature">포세린</a></li>
				<li><a href="/product/kitchen/sink">수전</a></li>
				<li><a href="/product/kitchen/sink">싱크볼</a></li>
				<li><a href="/product/kitchen/pantry">팬트리장,인출망장</a></li>
				<li><a href="/product/kitchen/hood">후드</a></li>
				<li><a href="/product/kitchen/etc">기타</a></li>
			</ul>
		</aside> -->
	<main>
		<section class="product-details">
			<img th:src="${builtInM.y_img}" alt="제품 이미지">
			<div class="text-container">
				<p class="innergate_IApro">
					<span th:text="${builtInM.pro_kind}"></span>&nbsp;|&nbsp; <span
						th:text="${builtInM.y_no}"></span>
				</p>
				<p class="small-text" th:text="${builtInM.b_name}"></p>
				<p class="innergate_IApro">
					<span
						th:text="${builtInM.style}"></span>
				</p>
				<span class="custom-line"></span>
				<div class="scrollable-content">
					<p class="innergate_IApro">
						<span th:text="${builtInM.content}"></span>
					</p>
				</div>
				<p class="innergate_pro"></p>

				<!-- 상담 신청 버튼 -->
				<p class="innergate_IApro">
					<a href="/inquire" class="inquire-button">상담신청</a>
				</p>
			</div>
		</section>
	</main>
	</div>
</body>
</html>
