<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${thinnerA.p_name}">제품명</title>
    <link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
    <main>
        <section class="product-details">
            <img th:src="@{${thinnerA.y_img}}" alt="제품 이미지">
            <div class="text-container">
                <p class="innergate_IApro">
                    <span th:text="${thinnerA.pro_kind}"></span>&nbsp;|&nbsp;
                    <span th:text="${thinnerA.y_no}"></span>
                </p>
                <h3 th:text="${thinnerA.p_name}">제품명</h3>
                <p class="innergate_IApro">
                    <span th:text="${thinnerA.p_name}"></span>&nbsp;|&nbsp;
                    <!-- <span th:text="${thinnerA.style}"></span> -->
                </p>
                <span class="custom-line"></span>
                <div class="scrollable-content">
                    <p class="innergate_IApro">
                        <br> <strong>따스하고 동양적인 무드, 간살 3연동 도어</strong><br>
                        슬림한 간살이 고급스럽고 따뜻한 현관 입구를 연출합니다
                    </p>
                    <p class="innergate_IApro">
                        <strong>스펙</strong><br>
                        간살 3연동 도어(목재)
                    </p>
                    <!-- <p class="innergate_IApro" th:text="${thinnerA.content}"></p> -->
                </div>
                <!-- 상담 신청 버튼 -->
                <p class="innergate_IApro">
                    <a href="/inquire" class="inquire-button">상담신청</a>
                </p>
            </div>
        </section>
    </main>
</body>
</html>
