<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>에센셜 바스 제품 상세</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/essential/essential_7.css">

</head>
<body>
    <div layout:fragment="content">
        <h3>로맨티코</h3>
        <div class="product-detail">
            <div class="product-image">
                <img th:src="@{/img/bath/클라우드 스퀘어.jpg}">
            </div>
            <div class="product-info">
                <p><strong>카테고리:</strong> Modern</p>
                <p><strong>제품코드:</strong> BATH-07</p>
                <p><strong>제품설명:</strong> 깔끔한 디자인에 실용성을 갖춘 미니멀한 라이프스타일에 꼭 맞는 클라우드 스퀘어.</p>
                <p><strong>색상:</strong> 그레이 <span style="background-color: #d3d3d3; width: 20px; height: 20px; display: inline-block;"></span></p>
                <div class="product-actions">
                    <button class="action-button">인테리어 상담신청</button>
                    <button class="action-button">가까운 매장찾기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
