<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>에센셜 바스 제품 상세</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/essential/essential_5.css">

</head>
<body>
    <div layout:fragment="content">
        <h3>포레스트 그린</h3>
        <div class="product-detail">
            <div class="product-image">
                <img th:src="@{/img/bath/포레스트 그린.jpg}">
            </div>
            <div class="product-info">
                <p><strong>카테고리:</strong> Natural</p>
                <p><strong>제품코드:</strong> BATH-05</p>
                <p><strong>제품설명:</strong> 초록빛과 보태니컬 패턴이 만드는 경쾌한 리듬은 상쾌한 하루를 선물합니다.</p>
                <p><strong>색상:</strong> 화이트 <span style="background-color: #ffffff; width: 20px; height: 20px; display: inline-block;"></span></p>
                <div class="product-actions">
                    <button class="action-button">인테리어 상담신청</button>
                    <button class="action-button">가까운 매장찾기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
