<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>에센셜 바스 제품 상세</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/essential/essential.css">

</head>
<body>
	<div layout:fragment="content">
		<h3>에센셜 바스</h3>
		<div class="content">
			<p>기본적이고 실용적인 디자인으로 필수적인 기능을 갖춘 욕실 스타일입니다.</p>
			<div class="filter">
				<div class="category">
					<p>카테고리 &nbsp;&nbsp;&nbsp;
                        <span class="category-filter" data-category="Natural">Natural</span> | 
                        <span class="category-filter" data-category="Modern">Modern</span> | 
                        <span class="category-filter" data-category="Classic">Classic</span>
                    </p>
				</div>
				<div class="color-selection">
					<span>색상</span>
					<div class="color-options">
                        <span class="color-option" style="background-color: #2b2b2b;" data-color="black"></span>
                        <span class="color-option" style="background-color: #d3d3d3;" data-color="gray"></span>
                        <span class="color-option" style="background-color: #ffffff;" data-color="white"></span>
                        <span class="color-option" style="background-color: #e1d7bc;" data-color="beige"></span>
                    </div>
				</div>
			</div>
			<div class="product-list">
			    <div class="product-item" data-category="Natural" data-color="beige">
					<a href="/product/bath/essential/1"> 
					    <img th:src="@{/img/bath/미로베이지.jpg}">
					</a>
					<p>Natural BATH-01</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="black">
					<a href="/product/bath/essential/2"> 
					    <img th:src="@{/img/bath/호텔블루사보이.jpg}">
					</a>
					<p>Modern BATH-02</p>
                </div>
                <div class="product-item" data-category="Natural" data-color="beige">
					<a href="/product/bath/essential/3">  
					    <img th:src="@{/img/bath/슬로우위켄드.jpg}">
					</a>
					<p>Natural BATH-03</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="gray">
					<a href="/product/bath/essential/4"> 
					    <img th:src="@{/img/bath/스톤그레이.jpg}">
					</a>
					<p>Modern BATH-04</p>
                </div>
                <div class="product-item" data-category="Natural" data-color="white">
					<a href="/product/bath/essential/5"> 
					    <img th:src="@{/img/bath/포레스트 그린.jpg}">
					</a>
					<p>Natural BATH-05</p>
                </div>
                <div class="product-item" data-category="Classic" data-color="beige">
					<a href="/product/bath/essential/6"> 
					    <img th:src="@{/img/bath/로맨티코.jpg}">
					</a>
					<p>Classic BATH-06</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="gray">
					<a href="/product/bath/essential/7"> 
					    <img th:src="@{/img/bath/클라우드 스퀘어.jpg}">
					</a>
					<p>Modern BATH-07</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="white">
					<a href="/product/bath/essential/8"> 
					    <img th:src="@{/img/bath/카반칼라카타.jpg}">
					</a>
					<p>Modern BATH-08</p>
                </div>
			</div>
		</div>
	</div>
</body>
</html>