<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/timeless/timeless.css">

</head>
<body>
    <div layout:fragment="content">
        <h3>타임리스 바스</h3>
        <div class="content">
            <p>시간에 구애받지 않는 클래식하고 우아한 욕실 스타일입니다.</p>
            <div class="filter">
                <div class="category">
                    <p>카테고리 &nbsp;&nbsp;&nbsp;
                        <span class="category-filter" data-category="Modern">Modern</span> | 
                        <span class="category-filter" data-category="Classic">Classic</span>
                    </p>
                </div>
                <div class="color-selection">
                    <span>색상</span>
                    <div class="color-options">
                        <span class="color-option" style="background-color: #2b2b2b;" data-color="black"></span>
                        <span class="color-option" style="background-color: #d3d3d3;" data-color="gray"></span>
                        <span class="color-option" style="background-color: #ffffff;" data-color="white"></span>
                        <span class="color-option" style="background-color: #e1d7bc;" data-color="beige"></span>
                    </div>
                </div>
            </div>
            <div class="product-list">
                <div class="product-item" data-category="Classic" data-color="beige">
                    <a href="/product/bath/timeless/1"> 
                        <img th:src="@{/img/bath/시에나.jpg}">
                    </a>
                    <p>Classic BATH-20</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="gray">
                    <a href="/product/bath/timeless/2"> 
                        <img th:src="@{/img/bath/모노코드.jpg}">
                    </a>
                    <p>Modern BATH-21</p>
                </div>
                <div class="product-item" data-category="Modern" data-color="beige">
                    <a href="/product/bath/timeless/3">  
                        <img th:src="@{/img/bath/트라버틴 베이지.jpg}">
                    </a>
                    <p>Modern BATH-22</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
