<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/timeless/timeless_2.css">

</head>
<body>
    <div layout:fragment="content">
        <h3>모노코드</h3>
        <div class="product-detail">
            <div class="product-image">
                <img th:src="@{/img/bath/모노코드.jpg}">
            </div>
            <div class="product-info">
                <p><strong>카테고리:</strong> Modern</p>
                <p><strong>제품코드:</strong> BATH-21</p>
                <p><strong>제품설명:</strong> 세련된 미니멀 라이프를 당신에게 꾸밈 없이 완벽한 욕실을 선물합니다.</p>
                <p><strong>색상:</strong> 그레이 <span style="background-color: #d3d3d3; width: 20px; height: 20px; display: inline-block;"></span></p>
                <div class="product-actions">
                    <button class="action-button">인테리어 상담신청</button>
                    <button class="action-button">가까운 매장찾기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
