<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">시스템창</title>
<link th:href="@{/css/productstyle.css}" rel="stylesheet">
</head>
<body>
	<header>
	    <h1 th:text="${title}">시스템창</h1>
	</header>
	<ul>
	    <li><a href="/product/window/system/tilt-turn">Tilt-turn</a></li>
        <li><a href="/product/window/system/lift-slide">Lift&Slide</a></li>
        <li><a href="/product/window/system/door">Door</a></li>
	</ul>
</body>
</html>