<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${flooringB.f_name}">제품명</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
    <main>
        <section class="product-details">
            <img th:src="@{${flooringB.y_img}}" alt="제품 이미지">
            <div class="text-container">
                <p class="innergate_IApro">
                    <span th:text="${flooringB.pro_kind}"></span>&nbsp; |&nbsp;
                    <span th:text="${flooringB.y_no}"></span>
                </p>
                <h3 th:text="${flooringB.f_name}">제품명</h3>
                <p class="innergate_IApro">
                    <span th:text="${flooringB.f_name}"></span>&nbsp;&nbsp;
                </p>
                <span class="custom-line"></span>
                <p th:text="${flooringB.content}"></p>
                <!-- 상담 신청 버튼 -->
                <p class="innergate_IApro">
                    <a href="/inquire" class="inquire-button">상담신청</a>
                </p>
            </div>
        </section>
    </main>
</body>
</html>
