<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">스타일월</title>
<link th:href="@{/css/productstyle.css}" rel="stylesheet">
</head>
<body>
	<header>
	    <h1 th:text="${title}">스타일월</h1>
	</header>
	<ul>
	    <li><a href="/product/wall/style/acacia">아카지아</a></li>
	    <li><a href="/product/wall/style/softoak">소프트오크</a></li>
        <li><a href="/product/wall/style/woodnoir">우드 누아</a></li>
        <li><a href="/product/wall/style/ekaterina">예카테리나</a></li>
        <li><a href="/product/wall/style/milkybreeze">밀키브리즈</a></li>
        <li><a href="/product/wall/style/ronelight">로네 라이트</a></li>
        <li><a href="/product/wall/style/charcoalstone">차콜 스톤</a></li>
        <li><a href="/product/wall/style/colosseobrown">콜로세오 브라운</a></li>
        <li><a href="/product/wall/style/mattemarmo">무광 마르모</a></li>
        <li><a href="/product/wall/style/urbangrey">어반그레이</a></li>
        <li><a href="/product/wall/style/sugarmarble">슈가마블</a></li>
	</ul>
</body>
</html>